# Ignora archivos del sistema Mac 
.DS_store

# Ignora la carpeta node_modules
node_modules

# Ignora todos los binarios de imagenes
*.ttf
*.jpg
*.eot
*.woff
*.woff2

# Ignora package-lock.json
package-lock.json


